/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom, #009688 15vh, #DBDBD4 15vh);
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}


/* App */
.app-wrapper {
  margin: 0 auto;
  display: flex;
  height: 90%;
  width: 80%;
}

.miniatures {
  height: 50px;
  border-radius: 50%;
}

/* LEFT-SIDE */
.left-side {
  display: flex;
  flex-flow: column nowrap;
  width: calc(35% - 1px);
  height: 100%;
  border-right: 1px solid lightgrey;
}

/* Left-side content */

/* User-header */
.user-header {
  display: flex;
  justify-content: space-between;
  height: 8%;
  padding: 5px;
  background: #EAEAEA;
}

.user-avatar {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.user-commands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #B1B1B1;
  font-size: 20px;
  width: 25%;
}

/* Notifications */
.notifications {
  display: flex;
  align-items: center;
  height: 10%;
  padding: 15px;
  background: #8EDAFC;
}

.bell-object {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
  color: #8EDAFC ;
  font-size: 20px;
  margin-right: 10px;
}

.bell-options p:last-child a {
  font-size: 12px;
  color: #697485;

}

/* Searchbar */
.search-mini {
  background: #F7F7F7;
  height: 6%;
  padding: 5px;
  color: #BDBCBB
}
.search-object {
  overflow: hidden;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  height: 100%;
  background: white;
}
.search-object .my-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%; 
}

.search-object input {
  font-size: 12px;
  width: 85%;
  border: none;
  padding: 0px 4px;
}

.search-object input:focus {
  border: none;
  outline: none;
}

/* Contacs-list */
.contacts {
  background: #FAFAFA;
  height: 76%;
  overflow-y: scroll;
}

.contact-pack {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid lightgrey;
}
.contact-pack:first-child {
  background: #E9EBEB;
  border: none;
}

.contact-preview {
  padding: 0px 20px;
}
.contact-pack span {
  vertical-align: top;
}


/* RIGHT-SIDE */
.right-side {
  display: flex;
  flex-flow: column nowrap;
  width: 65%;
  height: 100%;
}

/* Right-side content */

.chat-header {
  height: 8%;
  padding: 5px;
  background: #EAEAEA;
}

.chat-window {
  background-image: url(../img/mine.jpg);
  background-size: 50%;
  height: 84%;
  overflow-y: scroll;
}

.chat-message {
  height: 8%;
  background: #F3EEEA;
}





