/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-width: 1000px;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom, #009688 15vh, #DBDBD4 15vh);
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}


/* App //////////////////////////////////////////////////////////////////////*/
.app-wrapper {
  margin: 0 auto;
  display: flex;
  height: 90%;
  width: 80%;
}

.miniatures-preview {
  height: 45px;
  border-radius: 50%;
}

.miniatures {
  height: 50px;
  border-radius: 50%;
}

/* LEFT-SIDE //////////////////////////////////////////////////////////////// */
.left-side {
  display: flex;
  flex-flow: column nowrap;
  width: calc(35% - 1px);
  height: 100%;
  border-right: 1px solid lightgrey;
}

/* Left-side content */

/* User-header */
.user-header {
  display: flex;
  justify-content: space-between;
  height: 8%;
  padding: 5px 10px;
  background: #EAEAEA;
}

.user-avatar {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.user-commands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #B1B1B1;
  font-size: 20px;
  width: 25%;
}

/* Notifications */
.notifications {
  display: flex;
  align-items: center;
  height: 10%;
  padding: 15px;
  background: #8EDAFC;
}

.bell-object {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
  color: #8EDAFC ;
  font-size: 20px;
  margin-right: 10px;
}

.bell-options p:last-child a {
  font-size: 12px;
  color: #697485;
}

/* Searchbar */
.search-mini {
  background: #F7F7F7;
  height: 6%;
  padding: 5px;
  color: #BDBCBB
}
.search-object {
  overflow: hidden;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
  height: 100%;
  background: white;
}
.search-object .my-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%; 
}

.search-object input {
  font-size: 12px;
  width: 85%;
  border: none;
  padding: 0px 4px;
}

.search-object input:focus {
  border: none;
  outline: none;
}

/* Contacs-list */
.contacts {
  background: #FAFAFA;
  height: 76%;
  overflow-y: scroll;
}

.contact-pack {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid lightgrey;
}

.contact-pack:hover {
  background: #E9EBEB;
}

.last-message {
  font-size: 13px;
  color: grey;
}
.last-date {
  font-size: 10px;
  color: grey;
}
.contact-pack span {
  vertical-align: top;
  margin-left: 10px;
}


/* RIGHT-SIDE ///////////////////////////////////////////////////////// */
.right-side {
  display: flex;
  flex-flow: column wrap;
  width: 65%;
  height: 100%;
}

/* Right-side content */

/* Chat Header */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  padding: 5px 10px;
  background: #EAEAEA;
}

.chat-contact {
  height: 100%;
  display: flex;
  align-items: center;
}

.chat-contact-infos {
  margin-left: 15px;
  display: flex;
  flex-flow: column wrap;
  font-size: 15px;
}

.chat-contact-infos span:last-child {
  font-size: 12px;
  color: #6B7376;
}

.chat-contact-options {
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  width: 12.5%;
  color: #B1B1B1;
}

/* Chat window */
.chat-window {
  display: flex;
  flex-flow: column nowrap;
  background-image: url(../img/mine.jpg);
  background-size: 50%;
  height: 84%;
  overflow-y: scroll;
  padding: 40px 70px;
}
.chat-window .speech-bubble {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.received .speech-bubble {
  align-self: flex-start;
  background: white;
  margin: 5px 0px;
}
.sent .speech-bubble {
  align-self: flex-end;
  background: #D5F9BA;
  margin: 5px 0px;
}
.speech-bubble {
  margin: 10px 0px;
  width: 100%;
}

.speech-bubble .bubble-text {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  padding: 5px;
  border-radius: 10px;
}

.speech-bubble .bubble-text.message-sent {
  background: #D5F9BA;
  align-self: flex-end;
}

.speech-bubble .bubble-text.message-received {
  background: white;
  align-self: flex-start;
}

.speech-bubble .message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  font-size: 13px;
}
.speech-bubble .message i {
  visibility: hidden;
  font-size: 12px;
  color: #B1B1B1;
}
.speech-bubble .bubble-text:hover .message i {
  visibility: visible;
}
.speech-bubble .date {
  align-self: flex-end;
  font-size: 9px;
  color: grey;
}

/* Chat */
.chat {
  display: flex;
  align-items: center;
  height: 8%;
  width: 100%;
  height: 8%;
  background: #F3EEEA;
}
.chat i {
  font-size: 20px;
  color: #6B7376;
}
.emoticons {
  width: 10%;
  text-align: center;
}

.chat-message {
  width: 80%;
}

.chat-message input {
  font-size: 12px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.chat-message input:focus {
  outline: none;
}

.chat-audio {
  text-align: center;
  width: 10%;
}

/* Media Query */
@media screen and (max-width : 1200px) {
  .app-wrapper {
    width: 100%;
    height: 100%;
  }

}






