<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Boolzap</title>
  </head>
  <body>

    <div id='root'>
      <!-- App wrapper -->
      <div class="app-wrapper">

        <!-- Left side -->
        <div class="left-side">

          <!-- User interface -->
          <div class="user-header">
            <div class="user-avatar">
              <img class='miniatures-preview' :src="path + user.avatar + extension" alt="User Avatar">
              <span id='user-name'>{{ user.name }}</span>
            </div>
            <div class="user-commands">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
            

          </div>
          <!-- Notifications -->
          <div class="notifications">
            <div class="bell-object">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="bell-options">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <p><a href="">Attiva notifiche desktop</a></p>
            </div>

          </div>
          <!-- Search -->
          <div class="search-mini">
            <div class="search-object">
              <div class="my-label">
                <label for="my-search"><i class="fas fa-search"></i></label>
              </div>            
            <input v-model='mySearch' name='my-search' type="text" placeholder="Cerca o inizia una nuova chat">
            </div>            

          </div>
          <!-- Contacts -->
          <div class="contacts">
            <div v-for='(contact, index) in contacts' class="contact-pack" @click='setCounter(index)' v-if= 'contactSearch(contact)'>
              <div class="contact-avatar">
                <img class='miniatures' :src='imgPath(contact, index)' alt="Contact">                  
              </div>              
              <div class="contact-preview">
                <span class='contact-name'>{{ contact.name }}</span><br>
                <span class='last-message'>{{ contact.messages[contact.messages.length - 1].text }}</span><br>
                <span class='last-date'>{{ contact.messages[contact.messages.length - 1].date }}</span>
                
              </div>
            </div>
            
          </div>

        </div>

        <!-- Right side -->
        <div class="right-side">
          <!-- Chat Header -->
          <div class="chat-header">
            <!-- Contact preview infos -->
            <div class="chat-contact">
              <img class='miniatures-preview' :src="path + contacts[counter].avatar + extension" alt="Contact">         
              <div class="chat-contact-infos">
                <span class='contact-name'> {{ contacts[counter].name }} </span>
                <span class='last-access'>Ultimo accesso oggi alle {{ myTime() }} </span>
              </div>         
            </div>

            <!-- Contact preview options -->
            <div class="chat-contact-options">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <!-- Chat window  -->
          <div class="chat-window">

            <!-- Messages -->
              <div v-for='(key, index) in contacts[counter].messages' class="speech-bubble">
                <div class="bubble-text" :class="(contacts[counter].messages[index].status == 'sent') ? 'message-sent' : 'message-received'">
                  <span class='message' :class='(contacts[counter].messages[index].text == "Message deleted") ? "grey" : null '>{{ contacts[counter].messages[index].text }}
                    <button>
                      <i  class="fas fa-chevron-down">
                        <div @click='deleteMessage(index)' class="dropdown">
                          <span>Delete message</span>
                        </div>
                      </i>
                    </button>                                                              
                  </span>
                  <span class="date">{{ contacts[counter].messages[index].date }}</span>
                </div>                
              </div>

          </div>
          <!-- Chat message -->
          <div class="chat">
            <div class="emoticons">
              <i class="far fa-smile"></i>
            </div>

            <div class="chat-message">
              <input @keyup.13='sendMessage()' v-model='myMessage' type="text" name="chatMessage" id="" placeholder="Scrivi un messaggio">
            </div>

            <div class="chat-audio">
              <i class="fas fa-microphone"></i>
            </div>

          </div>

        </div>
      </div>

      
    </div>

    
    <!-- Script -->
    <script type="text/javascript" src="javascript/main.js"></script> 
    <!-- Script -->
  </body>
</html>

